<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/header.twig" %}
  <title>FB2 Collection</title>
</head>

<body style="background:#000; color:var(--text);">

<div class="page-header">
  <h1>FB2 <span>Book</span></h1>
  <div class="nav-panel d-flex gap-2 p-2">
    {% include "partials/menu.twig" %}
  </div>
</div>

  <div class="terminal-wrap">
    <div class="terminal-header">
      <div class="dot dot-r"></div>
      <div class="dot dot-y"></div>
      <div class="dot dot-g"></div>
      <span class="terminal-title">Read {{ title }}</span>

      {% include "partials/like.twig" %}

    </div>

    <div class="card mb-4 bg-dark text-light border-secondary">
      <div class="card-body">

        <table class="table table-sm table-bordered mb-0">
          <tbody>

            <tr>
              <th>Book ID</th>
              <td>{{ book.book_id }}</td>
            </tr>

            <tr>
              <th>Hash</th>
              <td>{{ book.hash }}</td>
            </tr>

            <tr>
              <th>Language</th>
              <td>{{ book.language }}</td>
            </tr>

            <tr>
              <th>Authors</th>
              <td>{{ book.Authors | raw }}</td>
            </tr>

            <tr>
              <th>Genres</th>
              <td>{{ book.Genres | raw }}</td>
            </tr>

            <tr>
              <th>Series</th>
              <td>{{ book.Serie | raw }}</td>
            </tr>

            <tr>
              <th>Publication</th>
              <td>{{ book.publication_date }}</td>
            </tr>

            <tr>
              <th>Action</th>
              <td>
                [ 
                <a class="btn-outline-secondary" href="/files/{{ book.hash }}" >Read</a>
                | 
                <a class="btn-outline-secondary" href="/files/{{ book.hash }}.fb2" download>Download</a>
                ]
              </td>
            </tr>

          </tbody>
        </table>

      </div>
    </div>

    <div class="card bg-dark text-light border-secondary">
      <div class="card-header">
        Annotation
      </div>
      <div class="card-body">
        {{ book.annotation }}
      </div>
    </div>

  </div>


  {% include "partials/footer.twig" %}
</body>
</html>